<div class="cart-container">
  <div class="empty-cart-msg" *ngIf="(cartProducts | async)?.length == 0">
    <h2>Your cart is empty.</h2>
  </div>
  <div class="cart-product-list" *ngIf="(cartProducts | async)?.length">
    <app-cart-product
      *ngFor="let product of cartProducts | async"
      [product]="product"
      (removeProductFromCart)="removeFromCart(product.id)"
    ></app-cart-product>
  </div>
  <div class="checkout-section">
    <h2>Checkout</h2>
    <div class="divider"></div>
    <div class="total">
      <h3>Total: {{ cartTotalNum }} products</h3>
      <h3>${{ totalStr | async }}</h3>
    </div>
    <h2>Details</h2>
    <div class="divider"></div>
    <form class="form-section" #form="ngForm" (ngSubmit)="submitCheckout()">
      <div class="form-row">
        <div class="form-section" style="width: 100%">
          <div class="form-row">
            <label for="name">Name</label>
            <span *ngIf="showNameError" class="error-text"
              >Must be at least 8 characters long</span
            >
          </div>
          <input
            class="checkout-field long-field"
            style="width: 100%"
            type="text"
            name="name"
            placeholder="Name"
            [(ngModel)]="name"
            (ngModelChange)="nameChanged($event)"
            minlength="8"
            maxlength="32"
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-section" style="width: 100%">
          <div class="form-row">
            <label for="creditCard">Card Number</label>
            <span *ngIf="showCreditCardError" class="error-text"
              >Must be a 16 digit number</span
            >
          </div>
          <input
            class="checkout-field long-field"
            style="width: 100%"
            type="text"
            name="creditCard"
            inputmode="numeric"
            pattern="[0-9\s]{16}"
            autocomplete="cc-number"
            minlength="16"
            maxlength="16"
            placeholder="xxxxxxxxxxxxxxxx"
            [(ngModel)]="creditCard"
            (ngModelChange)="creditCardChanged($event)"
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-section" style="width: 100%">
          <div class="form-row">
            <label for="name">Address</label>
            <span *ngIf="showAddressError" class="error-text"
              >Must be at least 8 characters long</span
            >
          </div>
          <input
            class="checkout-field"
            style="width: 100%"
            type="text"
            name="address"
            placeholder="Address"
            [(ngModel)]="address"
            (ngModelChange)="addressChanged($event)"
            required
            minlength="8"
            maxlength="64"
            required
          />
        </div>
      </div>
      <input
        style="margin: 30px 0"
        type="submit"
        value="Submit"
        class="btn btn-primary"
        [disabled]="form.invalid"
      />
    </form>
  </div>
</div>
